<h1> HI! I'M GEOFF GOUGH </h1>
<img src="Geoff_Alexis.jpg"
<br>
<p> I am a working professional pursuing my MBA degree from the University of Utah.  I am a IT Product Manager for the "U".  I enjoy spending time with my family, playing sports, traveling the world, and spending time with my wife. </p>
<h2> Check me out on some social media sites...</h2>
<a href="http://twitter.com/DaRealGough"> Here's my Twitter! </a>
<br>
<a href="https://www.facebook.com/geoff.gough"> Here's my Facebook! </a>
<br>
<a href="https://www.linkedin.com/profile/view?id=47757894&trk=nav_responsive_tab_profile"> Here's my LinkedIn! </a>
<br>
<h1> Send a TEXT! </h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
</form>