<h1> Geoff Gough </h1>
<img src="https://www.facebook.com/photo.php?fbid=10100161278778121&set=a.580223001581.2109299.29005932&type=1&theater" />
<h2> A little bit about me... </h2>
<p> BLAH BLAH BLAH (FOR NOW) </p>
<a href="http://twitter.com/DaRealGough"> Follow Me on Twitter! </a>

