<h1> Geoff Gough </h1>
<h2> A little bit about me... </h2>
<img src="Geoff_Alexis.jpg"
<p> BLAH BLAH BLAH (FOR NOW) </p>
<a href="http://twitter.com/DaRealGough"> Follow Me on Twitter! </a>

<h1> Send me a text message...</h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
</form>